#
# udev rules for multipathing.
# The persistent symlinks are created with the kpartx rules
#

# socket for uevents
SUBSYSTEM=="block", KERNEL=="dm-*", ACTION=="change", ENV{DM_ACTION}=="PATH_FAILED|PATH_REINSTATED", GOTO="multipath_end"
SUBSYSTEM=="block", RUN+="socket:/org/kernel/dm/multipath_event"
LABEL="multipath_end"
