#
# persistent links for device-mapper devices
# only hardware-backed device-mapper devices (ie multipath, dmraid,
# and kpartx) have meaningful persistent device names
#

KERNEL!="dm-*", GOTO="kpartx_end"
ACTION=="remove", GOTO="kpartx_end"

# DM_ACTIVATION is used by the device mapper rules to indicate devices
# that should be scanned by upper layers.
ENV{DM_ACTIVATION}!="1", GOTO="kpartx_end"

ENV{DM_UUID}=="?*", IMPORT{program}=="kpartx_id %M %m $env{DM_UUID}"

ENV{DM_UDEV_LOW_PRIORITY_FLAG}!="1", OPTIONS="link_priority=50"

ENV{DM_UUID}=="?*", ENV{DM_TYPE}=="?*" \
	SYMLINK+="disk/by-id/$env{DM_TYPE}-$env{DM_NAME}"

# Create persistent links for multipath tables
ENV{DM_WWN}=="?*", ENV{DM_PART}!="?*", \
	SYMLINK+="disk/by-id/wwn-$env{DM_WWN}"

# Create persistent links for partitions
ENV{DM_WWN}=="?*", ENV{DM_PART}=="?*", \
	SYMLINK+="disk/by-id/wwn-$env{DM_WWN}-part$env{DM_PART}"

# Create dm tables for partitions
ENV{DM_UDEV_PRIMARY_SOURCE_FLAG}!="1", IMPORT{db}="DM_SUBSYSTEM_UDEV_FLAG1"
# DM_SUBSYSTEM_UDEV_FLAG1 is the "skip_kpartx" flag for multipath
ENV{DM_UUID}=="mpath-*", ENV{DM_SUBSYSTEM_UDEV_FLAG1}!="1", \
	RUN+="/sbin/kpartx -un -p -part /dev/$name"

LABEL="kpartx_end"
