[Unit]
Description=Device-Mapper Multipath Device Controller
Before=iscsi.service iscsid.service lvm2-activation-early.service
After=syslog.target
DefaultDependencies=no
Conflicts=shutdown.target

[Service]
Type=notify
NotifyAccess=main
ExecStart=/sbin/multipathd -d -s
ExecReload=/sbin/multipathd reconfigure
WatchdogSec=5s

[Install]
WantedBy=sysinit.target
Also=multipathd.socket
